body{
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin: 0 auto;
}

button{
  padding: 5px 20px;
  background-color: #337ab7;
  color: #fdffff;
  border-color: none;
}

input{
  height: 30px;
}
